/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media (min-width: 501px) {
  .buttonpressed:hover {
    color: black;
    background-color: blanchedalmond;
  }
}
.pagewidth {
  margin-left: 4em;
  margin-right: 4em;
}
.pagewidth-mobile {
  margin-left: 1em;
  margin-right: 1em;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 15px;
  text-align: left;
}
@media (max-width: 500px) {
  th,
  td {
    padding: 5px;
  }
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
.container {
  width: 74%;
  margin-left: 13%;
  margin-right: 13%;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin-left: 1em;
    margin-right: 1em;
  }
}
.container .nav-container {
  display: flex;
}
.container .nav-container .topnav {
  padding: 2em;
}
@media (max-width: 500px) {
  .container .nav-container .topnav {
    padding: 0%;
  }
}
.container .nav-container .topnav a {
  padding: 1em;
  color: gray;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}
@media (min-width: 501px) {
  .container .nav-container .topnav a:hover {
    color: black;
    background-color: blanchedalmond;
  }
}
.container .intro {
  background-color: #D3D3D3;
}
.container .intro .intro-container {
  margin-left: 4em;
  margin-right: 4em;
}
.container .intro p {
  padding-left: 1em;
}
.container .intro img {
  padding: 1em;
}
.container .intro button {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 0.5em 1em;
  margin: 1em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}
@media (min-width: 501px) {
  .container .intro button:hover {
    color: black;
    background-color: blanchedalmond;
  }
}
.container .intro button a {
  text-decoration: none;
  color: black;
}
.container .main {
  display: flex;
  background-color: #f0f0f0;
}
@media (max-width: 500px) {
  .container .main {
    flex-direction: column;
  }
}
.container .main .content {
  width: 50%;
  margin-left: 4em;
  margin-right: 4em;
}
@media (max-width: 500px) {
  .container .main .content {
    width: 90%;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 2em;
  }
}
.container .main .list {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .list {
    width: 90%;
    margin-left: 1em;
    margin-right: 1em;
  }
}
.container .main .list ul {
  margin-top: 1.5em;
  list-style-type: square;
}
.container .main .list li {
  padding-top: 1em;
  padding-bottom: 1em;
}
.container .work-history {
  background-color: #fcf9f8;
  font-size: 1.5em;
}
.container .contact {
  text-align: center;
  line-height: 2em;
}
